<div layout="column" layout-align="center center" style="min-height: 600px">
    <md-content layout="column" class="md-whiteframe-z1">
        <md-whiteframe class="md-whiteframe-z4" layout="column" flex="30" layout-padding>
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Inventory - Login</span></h2>
            </md-toolbar>
            <md-content layout="column" class="md-padding" layout-padding style="padding-top:30px;">
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="username" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="password" type="password" required>
                </md-input-container>
                <span flex>{{ status }}</span>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <section layout="column" layout-align="start center">
                        <md-button ng-click="login.normal()" class="md-raised md-primary">Login</md-button>
                        <md-button ng-click="create($event)" class="md-raised md-primary">Register</md-button>
                    </section >
                    <section layout="column" layout-align="end center">
                        <md-button ng-click="forgot($event)" class="md-raised">Forgot Password?</md-button>
                        <md-button ng-click="login.google($event)" class="md-raised md-warn md-hue-2">Sign In With Google</md-button>
                    </section>
                </md-input-container>
            </md-content>
        </md-whiteframe>
    </md-content>
</div>
