<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section ng-if="googleOnly == false" layout="row">
                    <md-input-container>
                        <label>Current Password</label>
                        <input type="password" ng-model="currentPassword" md-autofocus>
                    </md-input-container>
                </section>
                <section layout="row">
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="newPassword" md-autofocus>
                    </md-input-container>
                </section>
                <section layout="row">
                    <md-input-container>
                        <label>Confirm Password</label>
                        <input type="password" ng-model="confirmNewPassword" md-autofocus>
                    </md-input-container>
                </section>
                <span>{{ passwordStatus }}</span>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="updatePassword()">Ok</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialaog>
